/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 340px) {
  .header_area .main_menu .navbar,
  .header_area .main_menu .navbar .navbar-brand,
  .site-main .subscribe-us-area .subscribe .subscribe-title,
  .site-main .subscribe-us-area .subscribe .subscribe-title p,
  h4,
  .site-main .subscribe-us-area .subscribe,
  .skills-area {
    padding: 2%;
    margin: 0%;
  }

  .site-main .site-banner .site-title h2 {
    font-size: 27px;
  }
  .site-main .site-banner .site-title .h3 {
    font-size: 20px;
  }
  .navbar-brand{
    margin-top: -160px;
  }
}

/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 792px) {
  .site-main .site-about .about-title h2 {
    font-size: 28px;
    letter-spacing: 4px;
  }
  .site-main .site-banner .site-title h2 {
    font-size: 36px;
  }

  .site-main .skills-area .experience-area .years-area {
    padding-left: 1%;
    width: 49%;
  }

  .site-main .skills-area .experience-area .bg-panel {
    margin-left: 60%;
    width: 80%;
  }

  .site-main .skills-area .experience-area .call-area {
    padding-left: 3%;
  }

  .site-main .about-area .about-title p {
    padding: 0%;
    margin: 0%;
  }
  .col {
    font-size: 14px;
    padding-left: 4rem;
    display: flex;
    flex: row;
    justify-content: space-between;
  }
  .col:hover {
    transform: scale(1.1);
  }
  .socials {
    padding-top: 3rem;
    padding-left: 2rem;
  }
  .footer {
    padding-top: 1rem;
  }
  .footer p {
    font-size: 14px;
  }
}

/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px) {
  .header_area .main_menu .navbar {
    padding: 1rem;
  }

  .container {
    max-width: 90%;
  }

  .site-main .skills-area,
  .site-main .services-area .services-title,
  .site-main .about-area {
    padding: 3% 4%;
  }
}
